---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="max-w-sm rounded shadow-lg bg-gray-100 post-preview m-4 self-start p-2">
	<header>
		<p class="publish-date">{post.frontmatter.publishDate}</p>
		<a href={post.url}><h1 class="font-bold text-xl mb-2">{post.frontmatter.title}</h1></a>
	</header>
	<p>{post.frontmatter.description}</p>
	<a href={post.url} class="text-blue-300">Read more</a>
</article>